<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Users manager</title>

    <!-- Styles -->
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="src/styles/main.css">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
<div id="app">

    <modal v-if="showAddModal">
        <h3 slot="header">Add user</h3>
        <form slot="body" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-10">
                    <input type="name" class="form-control" id="name" placeholder="Enter name*" name="name" v-model="newUser.name" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="phone">Phone:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone" v-model="newUser.phone" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="Enter email*" name="email" v-model="newUser.email" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="website">Website:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="website" placeholder="Enter website url" name="website" v-model="newUser.website" autocomplete="off">
                </div>
            </div>
        </form>
        <div slot="footer">
            <button @click="addUser" type="button" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-outline-secondary" @click="showAddModal = false; newUser = []">Close</button>
        </div>
    </modal>

    <modal v-if="showEditModal">
        <h3 slot="header"><img class="form-avatar" :src="currentUser.avatar"> Edit user {{ currentUser.id }}</h3>
        <form slot="body" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="name-1">Name:</label>
                <div class="col-sm-10">
                    <input type="name" class="form-control" id="name-1" placeholder="Enter name*" name="name" v-model="currentUser.name" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="phone-1">Phone:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="phone-1" placeholder="Enter phone" name="phone" v-model="currentUser.phone" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email-1">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email-1" placeholder="Enter email*" name="email" v-model="currentUser.email" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="website-1">Website:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="website-1" placeholder="Enter website url" name="website" v-model="currentUser.website" autocomplete="off">
                </div>
            </div>
        </form>
        <div slot="footer">
            <button @click="updateUser(currentUser.index)" type="button" class="btn btn-info">Update</button>
            <button type="button" class="btn btn-outline-secondary" @click="showEditModal = false; currentUser = []">Close</button>
        </div>
    </modal>

    <modal v-if="showDeleteModal">
        <h3 slot="header">Delete user {{ currentUser.id }}</h3>
        <form slot="body" class="form-horizontal">
           <p class="text-center">
               Are you sure? Delete {{ currentUser.name }}?<br>
               <img class="form-avatar" :src="currentUser.avatar">
           </p>
        </form>
        <div slot="footer">
            <button @click="deleteUser(currentUser)" type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-outline-secondary" @click="showDeleteModal = false; currentUser = []">Close</button>
        </div>
    </modal>

    <header>
        <div class="container">
            <form>
                <div class="form-row align-items-center">
                    <label for="inlineFormCustomSelect" class="form-group col-md-3 col-form-label">Choose type and start search...</label>
                    <div class="form-group col-md-2">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" v-model="searchType">
                            <option selected value="name" >By name</option>
                            <option value="email">By Email</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" v-model="keyword">
                    </div>
                    <div class="form-group col-md-3">
                        <button @click.prevent="showAddModal = true" class="btn btn-outline-secondary add-btn">Add User</button>
                    </div>
                </div>
            </form>
        </div>
    </header>

    <div class="container main">
        <div v-if="loading" class="loading">
            <div v-if="loadError" class="error">
                <p class="text-danger">Users can not loading! Try again later...</p>
            </div>
        </div>
        <div v-else class="users-list row">
            <template v-for="(user, id) in filterUsers">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="card w-85">
                        <div class="card-header">{{ user.name }}</div>
                        <div class="card-body">
                            <img :src="user.avatar" class="avatar">
                            <h6 class="mb-2 text-muted phone">{{ user.phone }}</h6>
                            <p class="card-text">
                                <small class="text-muted">{{ user.email }}</small></p>
                            <a :href="user.website">{{ user.website }}</a>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline-warning btn-sm" @click="editUser(user)" style="margin-right: 10px">Edit</button>
                            <button class="btn btn-outline-danger btn-sm" @click="openConfirmDelete(user)">Delete</button>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>

<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header"></slot>
                    </div>
                    <div class="modal-body">
                        <slot name="body"></slot>
                    </div>
                    <div class="modal-footer">
                        <slot name="footer"></slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>

<!-- Scripts -->
<script src="src/scripts/main.js"></script>
</body>
</html>