header {
    height: 100px;
    position: fixed;
    padding: 20px 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    background-color: white;
    box-shadow: 0 0 15px rgba(29, 29, 29, 0.11);
}
.add-btn {
    float: right;
}
.btn {
    min-width: 80px;
}
.main {
    margin-top: 130px;
}

.users-list > div {
    padding: 10px;
}
.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.form-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 20px;
}

.phone {
    margin-top: 15px;
}
.card {
    height: 350px;
}
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 500px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



